[submodule "External/FLAnimatedImage"]
	path = External/FLAnimatedImage
	url = https://github.com/Flipboard/FLAnimatedImage.git
[submodule "External/Cache"]
	path = External/Cache
	url = https://github.com/hyperoslo/Cache.git
	branch = master
[submodule "External/swift-generic-geometry"]
	path = External/swift-generic-geometry
	url = https://github.com/shopgun/swift-generic-geometry.git
